net my_clk loc = V10 ;
net q<0> loc = u16 ; 
net q<1> loc = v16 ; 
net q<2> loc = u15 ; 
net q<3> loc = v15 ; 
net q<4> loc = m11 ; 
net q<5> loc = n11 ; 
net q<6> loc = r11 ; 
net q<7> loc = t11 ; 
net button1 loc = t10; 
net reset loc = t9;
net nreset loc = v9;
net vsync loc = p7 ;
net hsync loc = n6  ;
net red<0> loc = u7  ;
net red<1> loc = V7 ;
net red<2> loc = n7 ;
net green<0> loc = p8 ; 
net green<1> loc = t6  ;
net green<2> loc = V6 ;
net blue<0> loc = r7 ;
net blue<1> loc = t7 ;
NET button1 CLOCK_DEDICATED_ROUTE = FALSE;
Net SSEG_CA<0> LOC=T17 | IOSTANDARD=LVCMOS33; # Connected to CA
Net SSEG_CA<1> LOC=T18 | IOSTANDARD=LVCMOS33; # Connected to CB
Net SSEG_CA<2> LOC=U17 | IOSTANDARD=LVCMOS33; # Connected to CC
Net SSEG_CA<3> LOC=U18 | IOSTANDARD=LVCMOS33; # Connected to CD
Net SSEG_CA<4> LOC=M14 | IOSTANDARD=LVCMOS33; # Connected to CE
Net SSEG_CA<5> LOC=N14 | IOSTANDARD=LVCMOS33; # Connected to CF
Net SSEG_CA<6> LOC=L14 | IOSTANDARD=LVCMOS33; # Connected to CG
Net SSEG_CA<7> LOC=M13 | IOSTANDARD=LVCMOS33; # Connected to DP
Net SSEG_AN<0> LOC=N16 | IOSTANDARD=LVCMOS33; # Connected to AN0
Net SSEG_AN<1> LOC=N15 | IOSTANDARD=LVCMOS33; # Connected to AN1
Net SSEG_AN<2> LOC=P18 | IOSTANDARD=LVCMOS33; # Connected to AN2
Net SSEG_AN<3> LOC=P17 | IOSTANDARD=LVCMOS33; # Connected to AN3
