#
# Pin assignments for the Nexys3 Spartan VI Board.
#
Net FP<0> LOC=T10 | IOSTANDARD=LVCMOS33; # Slide switch0
Net FP<1> LOC=T9 | IOSTANDARD=LVCMOS33; # Slide switch1
Net FP<2> LOC=V9 | IOSTANDARD=LVCMOS33; # Slide switch2
Net FP<3> LOC=M8 | IOSTANDARD=LVCMOS33; # Slide switch3
Net FP<4> LOC=N8 | IOSTANDARD=LVCMOS33; # Slide switch4
Net FP<5> LOC=U8 | IOSTANDARD=LVCMOS33; # Slide switch5
Net SSEG_CA<0> LOC=T17 | IOSTANDARD=LVCMOS33; # Connected to CA
Net SSEG_CA<1> LOC=T18 | IOSTANDARD=LVCMOS33; # Connected to CB
Net SSEG_CA<2> LOC=U17 | IOSTANDARD=LVCMOS33; # Connected to CC
Net SSEG_CA<3> LOC=U18 | IOSTANDARD=LVCMOS33; # Connected to CD
Net SSEG_CA<4> LOC=M14 | IOSTANDARD=LVCMOS33; # Connected to CE
Net SSEG_CA<5> LOC=N14 | IOSTANDARD=LVCMOS33; # Connected to CF
Net SSEG_CA<6> LOC=L14 | IOSTANDARD=LVCMOS33; # Connected to CG
Net SSEG_CA<7> LOC=M13 | IOSTANDARD=LVCMOS33; # Connected to DP
Net SSEG_AN<0> LOC=N16 | IOSTANDARD=LVCMOS33; # Connected to AN0
Net SSEG_AN<1> LOC=N15 | IOSTANDARD=LVCMOS33; # Connected to AN1
Net SSEG_AN<2> LOC=P18 | IOSTANDARD=LVCMOS33; # Connected to AN2
Net SSEG_AN<3> LOC=P17 | IOSTANDARD=LVCMOS33; # Connected to AN3
Net MY_CLK LOC=V10 | IOSTANDARD=LVCMOS33; # Connected to board clock